@charset "utf-8";

header nav ul {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 6px;
    list-style-type: none;
    
}

header{
    position: relative;
    background-color: #f1e2be;
}

header nav{
    background-color: #d4ba9f;
    width: 100%;
    color: white;
    left: 0;
    bottom: 0;
}

header nav a {
    display: block;
    border-radius: 4px;/* 角丸 */
    padding: 12px 24px;
    text-decoration: none;/* 下線の削除 */
    border-style: none solid none none; /* 右境界線 */
    color: yellow;/* 文字の色 自由*/
}

header nav a:hover{/* 疑似クラス */
    color: blue;
}